{% extends 'Base.HTML' %}
{% block body %}
<h1>This is Index</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="text-center bg-warning p-3">News Category Classification: Add New Website</h1>
            <form method="POST" class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="website">website Url</label>
                        <input type="url" class="form-control">
                    </div>
                </div>
            </form>
            </div>

        </div>
    </div>

{% endblock %}


